body {
    background-color: rgb(48, 56, 65);
}
div {
    text-align: center;
    vertical-align: middle;
}
#button-tip {
    float: right;
}
#table-img {
    margin: 0 auto;
}
#drawing {
    margin: 0 auto;
    display: block;
}
.border-style-none {
    border-style: none;
}